.container{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 22rem;
    height: 38.875rem;
    border: 1px solid rgb(219,219,219);
    border-radius: 1px;
    margin: 10px auto;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.logo{
    width: 175px;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 16.875rem;
    height: 100%;
}
.labels{
    width: 100%;
    font-size: 12px;
}
.subtitle{
    font-size: rem;
    color: rgb(115, 115, 115);
    font-weight: 500;
    text-align: center;
    font-size: medium;
}
.btnFacebook{
    display:inline-block;
    text-align: center;
    padding:7px 16px;
    border-radius: 4px;
    background-color: #1877f2;
    color: white;
    width: 100%;
}
.orContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.orText{
    font-size: 12px;
    color: rgb(115, 115, 115);
}
.lines{
    width: 40%;
    height: 1px;
    background-color: rgb(219, 219, 219);
}
.inputs{
    width: 100%;
    height: 2.5rem;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 3px;
    padding: 0 10px;
}
.terms{
    font-size: 12px;
    color: rgb(115, 115, 115);
}
.btnSingup{
    padding:7px 16px;
    font-size:medium;
    font-weight: bold;
    border-radius: 4px;
    background-color: rgb(76,181,249);
    color: white;
    text-align: center;
    width: 100%;
}